body
{
 margin:0;
 background:red;
	
	}
.bodydiv
{
color:white;
background:black;
min-height:100vh;
	
	}
	.bodydiv2
{
color:black;
background:green ;
height:10%;
margin-top:0px;
	
	}