body
{
 margin:0;
	
	}
.bodydiv
{
color:white;
background:black;
min-height:100vh;
	
	}

.bodydiv2 {
  color: black;
  background: green;
  width: 300px;
  height: 10vh;
  margin-top: 40px;
}
